@import url('https://fonts.googleapis.com/css2?family=Asul&display=swap');

:root {
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*------------------------------nav bar style start*/

.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    width: 100%;
    height: 90px;
    z-index: 1;
}

.navigation-top {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
}

.nav_links {
    display: flex;
    flex-direction: row;
}

.navbar a {
    text-decoration: none;
}

.logo {
    flex: 1 1 auto;
    color:  #0088a9;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 25px;
}

.navigation-top .nav_links li{
    list-style: none;
    margin-top: 18px;
    margin-right: 5px;
}

.navigation-top .nav_links li a {
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}
.navigation-top .nav_links li a:hover {
    color: #29b0d1;
}


.nav_links li a:hover {
    color: #0088a9;
}

.Courses-Button .Course-button-style {
    font-size: 18px;
    padding: 15px 25px;
    background-color: chocolate;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
}

.Courses-Button .Course-button-style:hover {
    background-color: rgb(233, 158, 105);
 
}


.overlay {
    display: none;
}


/*-------------------------------------navbar style end*/

/* elements with the same propoties start-------------*/



.cheap-course-outer  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 241, 241);
    padding-top: 50px;
    padding-bottom: 20px;
}

.cheap-course-title {
    color:#0088a9 ;
    font-size: 40px;
    margin: 20px;
    padding: 20px;
}


.cheap-course-title h3 .fas{
    color: chocolate;
    margin: 0 20px 0 20px;
}



.cheap-course-inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}



.cheap-course-inner .cheap-course-text-all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 20px;
   
}

.cheap-course-student{
    width: 300px;
    min-width: 200px;
    flex-grow: 1;
    margin: 20px 20px 0 20px;
    padding: 20px 20px 0 20px;
}

.cheap-course-student .fas {
    font-size: 40px;
    color: chocolate;
}

.cheap-course-student h3{
    font-size: 30px;
    color: #0088a9;
}



/* elements with the same propoties end-------------*/

/*how we are different start --------------------------------*/


.how-we-are-different-outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how-we-are-different-inner{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #47bad6;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

.how-we-are-different-inner .how-we-are-different-text-all .how-we-are-different-pros{
    text-align: center;
}

.how-we-are-different-inner .how-we-are-different-text-all .how-we-are-different-pros .fas{
    font-size: 30px;
    text-align: center;
}


.how-we-are-different-inner .how-we-are-different-text-all{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
   
}






/*how we are different end-----------------------------------*/

/* student problems start-------------------------------------------*/

.image-cover{
  display: flex;
  flex-direction: row;
  text-align: center;
  
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/people-2557396_1920.jpg");

  /* Set a specific height */
  height: 80vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
  padding-top: 150px;
}

.image-col {
    text-align: left;
    padding-left: 50px;
    width: 50vw;
}

.home-title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    padding: 20px;
}

.home-text{
    font-size: 30px;
    padding: 20px;
}

.organge{
    color: chocolate;
}

.blue{
    color:#0088a9 ;
}

.home-button button {
    padding:  20px 40px 40px;
    margin-top: 50px;
    height: 40px;
    width: 180px;
    font-size: 20px;
    font-weight: 100;
    background-color: chocolate;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    text-align: center;
    justify-content: center;
    
}

.home-button button:hover {
    background-color: rgb(233, 158, 105);
}

.home-video {
    width: 50vw;
}

.home-video-style{
    position: relative;
    overflow: hidden;
    padding-top: 5%;
    width: 100%;
}

.home-button-responsive{
    display: none;
}


/* student problems end  ------------------------------------*/


/*how we are different start -----------------------------*/

.how-we-are-different-outer{
    background-color: #0088a9;
    color: #fff;
    padding-bottom: 20px;
}

 .how-we-are-different-title h3{
    color: #fff;
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    padding: 10px;
}

.how-we-are-different-pros {
    width: 500px;
}

.how-we-are-different-text-all .how-we-are-different-pros i {
    color: #fff;
}

.how-we-are-different-text-all .how-we-are-different-text-all{
    align-items: center;
    justify-content: center;
}

.how-we-are-different-text-all .how-we-are-different-text-all h3{
    color:#fff ;
    font-size: 35px;
    padding-bottom: 10px;
}

.how-we-are-different-text-all .how-we-are-different-text-all ul{
    font-size: 25px;
    line-height: 1.5;
}




/*how we are different end-----------------------------*/

/*articles start-------------------------------------*/

.outer-articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .popular-articles h2 {
    color: chocolate;
    font-size: 40px;
    margin: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;

}



.inner-articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position:relative ;
    width: 100%;
}

.container {
    width: 400px;
    min-width: 300px;
    flex-grow: 1;
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.img-container img {
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0px 0px;
}

.content-container {
    padding: 10px 20px;
}

.content-container h1 {
    font-size: 24px;
}

.content-container .listening, .content-container .vocabulary, .content-container .speaking {
    background: crimson;
    width: 80px;
    font-size: 8px;
    margin: 5px;
    padding: 5px;
    color: white;
    text-align: center;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    font-weight: 700;
}

.content-container .vocabulary {
    background: limegreen;
}

.content-container .speaking {
    background: chocolate;
}

.content-container p{
    color: grey;
    font-size: 12px;
    letter-spacing: 0.02rem;
    line-height: 1.3rem;
    margin-bottom: 30px;
}

.btn{
    background: #0088a9;
    color: white;
    font-size: 12px;
    padding: 10px 20px;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}

.btn:hover {
    background: #29b0d1 ;
}

/*articles end----------------------------------------*/

/* cheap courses start--------------------------------*/



.cheap-course-title h2{
    color: #0088a9;
    font-size: 60px;
    margin: 20px 20px 20px 55px;
    padding: 20px;
}

.cheap-course-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    max-width: 800px;
    flex-grow: 1;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.cheap-course-student h3{
    font-size: 30px;
    color: #0088a9;
}

.cheap-course-student p{
    font-size: 18px;
}

.go-to-course{
    text-align: center;
}



/*cheap courses end----------------------------------*/



/*reviews start-----------------------------------------*/

.rev-outer{
display: flex;
margin-top: 40px;
}

.rev-section {
    margin: auto;
    padding: 0 1rem;
    max-width: 1100px;
    text-align: center;
}

.title {
    margin-bottom: .5rem;
    color: #0088a9;
}

.note {
    font-size: 20px;
}

.reviews {
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.review{
    margin: 0 1rem;
    min-width: 300px;
    flex: 1;
}

.head-review {
    margin: 1.75rem auto;
    width: 150px;
    height: 150px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
}

.body-review {
    background-color: rgb(238, 238, 238);
    padding: 2.5rem;
    box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
}

.name-review {
    font-size: 1.5rem;
    color: rgb(50, 50, 50);
    margin-bottom: .25rem;
}

.place-review {
    color: red;
    font-style: italic;
}

.rating{
    color: rgb(253, 180, 42);
    margin: 1rem 0;
}

.desc-review {
    line-height: 1.5rem;
    letter-spacing: 1px;
    color: rgb(150, 150, 150);
}

/*reviews end-----------------------------------------*/

/*other courses start--------------------------------------*/



.btn-courses{
    background-color: chocolate;
}

/*other courses end-----------------------------------------*/

/*individual articles start /////////////////////////////////////////////////////////*/

/*article banner start------------------------------------*/

.article-banner{

    padding-top: 100px;
    height: 50%;
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;

}


.article-banner .article-title h1 {
    font-size: 40px;
    color: chocolate;
    padding: 10px;


}

.article-banner .article-table-of-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.article-table-of-content-border{
    background:rgb(238, 238, 238);
    padding: 25px;
    border-radius: 5px;
    width: 400px;
    border-radius: 4px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);

}


.article-table-of-content-border .related-articles h4, 
.article-table-of-content-border .related-articles ul,
.article-table-of-content-border .table-of-content h4, 
.article-table-of-content-border .table-of-content ul {
    font-size: 30px;
    color: #333;
    margin: 10px;
    padding: 10px;
}

/*article banner end----------------------------*/


/*article content start----------------------------------*/



.article-content-border{
   
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;

}

.article-content-border .article-text-border {
    flex-wrap: wrap;
    margin: 0;


}

.related-articles .content-style li{
    text-decoration: none;
    font-size: 18px;

}

.article-text {
    min-width: 200px;
    flex-grow: 1;
    text-align: left;

}

.article-text .fas{
    font-size: 80px;
    color: chocolate;
    padding: 20px 0 20px 0;

}


.article-text h4{
    font-size: 30px;
    text-align: center;
    color: #0088a9;
}

.article-text-border {
    font-size: 22px;



}

.article-text .article-text-all{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
}

.article-text-page-align {
    width: 90%;
    flex-grow: 1;
    padding: 10px;
}

.article-text-page-style{
    text-align: left;
    width: 90%;
    
}


/*article content end-----------------------------------*/



/* individual articles end /////////////////////////////////////////////////////////*






/*sign up form----------------------------------------------*/

.form-outer{
    background-color: #0088a9;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coming-soon {
    height: 95vh;
}


.signup-form{
    background: chocolate;
    padding: 25px;
    border-radius: 5px;
    width: 50%;
}

.signup-form .title {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 5px;
    font-weight: 700;
}

.form-wrap {
    margin-top: 35px;
}

.form-wrap .input-wrap {
    margin-bottom: 15px;
}

.form-wrap .input-wrap:last-child {
    margin-bottom: 0;
}

.form-wrap .input-wrap label{
    display: block;
    margin-bottom: 3px;
    color:#fff ;
}





.form-wrap input[type="text"] {
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgb(253, 180, 42);
    padding: 10px;
    outline: none;
}

.form-wrap input[type="text"]:focus {
    border-color: #6b6f70;
}

.form-wrap ul {
    background: #fff;
    padding: 8px 10px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
}

.form-wrap ul li{
    list-style: none;
}

.form-wrap ul li .level{
    color: #333;
}


.form-wrap ul li:first-child{
    margin-right: 15px;
}

.form-wrap ul .radio-wrap {
    position: relative;
    margin-bottom: 0;
}

.form-wrap ul .radio-wrap .input-radio{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}

.form-wrap ul .radio-wrap span {
    display: inline-block;
    font-size: 14px;
    padding: 3px 20px;
    border-radius: 3px;
    color: #333;
}

.form-wrap ul .input-radio:checked ~ span {
    background: #0088a9;
}

.form-wrap .submit-btn {
    width: 100%;
    background: #0088a9;
    padding: 10px;
    border: 0;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    color: #fff;
}

.form-wrap .submit-btn:hover {
    background: #29b0d1;
}

/*sign up form----------------------------------------------*/



/*student problems blog page start /////////////////////////////////////////*/

.inner-blog-articles{
    width: 80%;
}

.blog-cards {
    width: 30%;

}


/*student porblems blog page end////////////////////////////////////////////*/


/*contact us page start/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

  
.contact-outer{
    background-color: #fff;
}

.contact-form{
    background: chocolate;
    padding: 25px;
    border-radius: 5px;
    width: 50%;
}

.contact-text textarea {
    width: 100%;
    height: 200px;
}




/*contact us page end/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*common student articles start ////////////////////////////////////////////////*/

.start-here-outer{
    background-color: #0088a9;

}

.start-here-title h2, .start-here-title p {
    color: #fff;
}

.start-here-title h2{
    justify-content: center;
    text-align: center;
}

.start-here-title p{
    font-size: 22px;
}

.start-here-outer .start-here-title span{
    text-transform: uppercase;
}

.popular-articles-container{
    background-color: #fff;
}



/*common student articles end /////////////////////////////////////////////////////////*/

/*courses start ////////////////////////////////////////////////////////*/

/*common student articles start ////////////////////////////////////////////////*/

.start-here-outer{
    background-color: #0088a9;

}

.start-here-title h2, .start-here-title p {
    color: #fff;
}

.start-here-title h2{
    justify-content: center;
    text-align: center;
}

.start-here-title p{
    font-size: 22px;
}

.start-here-outer .start-here-title span{
    text-transform: uppercase;
}

.popular-articles-container{
    background-color: #fff;
}



/*common student articles end /////////////////////////////////////////////////////////*/



/*student courses start //////////////////////////////////////////////////*/

 .outer-articles .courses-outer-border {
     padding-bottom: 20px;
 }


.course-post .course-post_img img {
    width: 100%;
}

.course-post {
    width: 90%;
    max-width: 98rem;
    padding: 5rem;
    margin: 20px;
    background-color: rgb(219, 219, 219);
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    display: flex;
    align-items: center;
    border-radius: .8rem;
}

.course-post_img {
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    transform: translateX(-8rem);
    position: relative;
}

.course-post_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}

.course-post_img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(79, 172, 254, .8), rgba(0, 242, 252, .81)
    );
    box-shadow: .5rem .5rem 3rem 1px rgba(0,0,0,.05);
    border-radius: .8rem;
}

.course-level-cost span {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    margin: .5rem 0;
}

.course-post_title {
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform:uppercase;
    color: chocolate;
}

.course-post_text {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: #333;
}

.course-post_cta{
    display: inline-block;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff;
    background-color: chocolate;
    border-radius: .8rem;
    text-decoration: none;
}

.course-post_cta:hover{
    color: rgb(221, 135, 74);
}













/*student courses end //////////////////////////////////////////////////*/

/*student landing page start //////////////////////////////////////////////////*/


.landing-review-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px;
    grid-gap: 40px;
}

.landing-review-card {
    background-color: rgb(241, 241, 243);
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}

.landing-review-card .landing-review-details .landing-review-author .fa-google{
    color: red;
}







/*courses landing page end ////////////////////////////////////////////////////////////*/


/*footer start----------------------------------------------*/

.footer{
    background-color: #333;
    margin: 0;
    padding: 70px 0;
    box-sizing: border-box;
    line-height: 1.5;
}

.footer-container {
    max-width: 1170px;
    margin: auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: chocolate;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #0088a9;
    padding-left: 10px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #fff;
}

.page-title .page-title-text {
    font-size: 60px;
    color: #0088a9;
    font-weight: 500;
}








/*footer end------------------------------------------------*/

/*----------------------------------media queries start*/



@media screen and (max-width: 1159px) {
    .how-we-are-different-pros {
        width: 400px;
    }
}

@media screen and (max-width: 1153px) {
    .image-cover{
        flex-direction: column;
        height: 850px;
        padding-top: 20px;
    }

    .image-col{
        text-align: center;
        align-items: center;
        margin: auto;
        width: 50%;
        padding: 10px;
    }

    .home-button {
        display: none;
    }

    .home-button-responsive{
        display: block;
    }

    .home-video{
        text-align: center;
        align-items: center;
        margin: auto;
        width: 50%;
        padding: 10px;
    }

    .home-title{
        margin-top: 20px;
    }

    .home-button-responsive{
        margin-right: 30px;

    }

}

   


@media screen and (max-width: 1155px) {
  
    /*hamburger toggle menu start*/
    .nav_links {
        display: none;
        position: absolute;
    }

    .Courses-Button .Course-button-style {
        display: none;
        position: absolute;
    }
  
    .menu-bars {
        position: static;
        
        top: 1rem;
        right: 4em;
        z-index: 10;
        display: inline;
        cursor: pointer;
        padding-right: 40px;
      }
      
      .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: red;
        margin: 6px 0;
        transition: 0.4s;
      }
      
      /* Rotate first bar */
      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
      }
      
      /* Fade out the second bar */
      .change .bar2 {
        opacity: 0;
      }
      
      /* Rotate last bar */
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
      }

      /*overlay hamburger nav start*/
        .overlay{
            display: flex;
            position: fixed;
            z-index: 9;
            top: 0;
            left: 0;
            width: 80vw;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            transform: translateX(-100vw);
        }

        .overlay-slide-right{
            transition: all 0.4s ease-in-out;
            transform: translateX(0);
        }

        .overlay-slide-left{
            transition: all 0.8s ease-in-out;
            transform: translateX(-100vw);
        }

        /*overlay hamburger nav end*/

        /*toggle menu items start*/

        .nav_toggle, .nav_toggle .nav_links_toggle {
            height: 100vh;
            width: 80vw;
            margin: 0;
            padding: 0;
        }

        .nav_links_toggle{
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            list-style: none;
        }

        .nav_toggle .nav_links_toggle li {
            height: 20%;
            overflow: hidden;
        }

        .nav_links_toggle li a {
            position: relative;
            top: 45%;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 4px;
            text-decoration: none;
            display: block;
            text-align: center;
        }

        .nav_links_toggle li a:hover {
            transform: scale(1.2);
        }

        .nav_links_toggle li a::before{
            content: "";
            width: 25vw;
            height: 3px;
            background-color: white;
            position: absolute;
            top: 47.5%;
            left: 0;
            opacity: 0;
        }

        .nav_links_toggle li a::before{
            opacity: 1;
        }

        .nav_links_toggle li:nth-of-type(1) {
            background-color: var(--primary-color);
        }

        .nav_links_toggle li:nth-of-type(2) {
            background-color: var(--primary-color);
        }

        .nav_links_toggle li:nth-of-type(3) {
            background-color: var(--primary-color);
        }

        .nav_links_toggle li:nth-of-type(4) {
            background-color: var(--primary-color);
        }

        .nav_links_toggle li:nth-of-type(5) {
            background-color: chocolate;
        }

        /*toggle menu items end*/


       /*---------------------hamburger toggle menu end*/

      .home-youtube-video{
          display: none;
      }
}

@media screen and (max-width: 1068px) {
    .course-post{
        max-width: 80rem;
    }

    .course-post_img {
        min-width: 30rem;
        max-width: 30rem;
    }
}


@media screen and (max-width: 1048px) {
    .course-post{
        padding: 2.5rem;
        flex-direction: column;

    }

    .course-post_img {
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -4rem);
    }
}




@media screen and (max-width: 959px) {
    .how-we-are-different-pros {
        width: 300px;
    }

    .contact-form{
        margin-top: 90px;
        width: 400px;
    }
}

@media screen and (max-width: 889px) {
    .article-text-page-align {
        font-size: 28px;
    }
}





@media screen and (max-width: 773px) {
    .home-title {
        margin-top: 50px;
    }
   
    .image-cover{
        height: 800px;
    }
    
    .home-text {
        margin-left: 10px;
    }

    .home-button {
        display: block;
        margin-bottom: 50px;
    }


    .home-button-responsive{
        visibility: hidden;
    }



    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 773px) {
    .review{
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 739px) {
    .article-text-page-align {
        width: 100%;
        font-size: 28px;
    }
}


@media screen and (max-width: 691px) {

    .article-table-of-content iframe{
        display: none;
        position: absolute;
    }

.signup-form{
    width: 300px;
}

}

@media screen and (max-width: 593px) {
    .image-cover{
        height: 900px;
    }
    

    .footer-col{
        width: 100%;
    }
}

@media screen and (max-width: 577px) {
    .image-cover{
        height: 950px;
    }
}

@media screen and (max-width: 500px) {

    .image-cover{
        height: 700px;
    }
    .image-col {
        width: auto;
    }

    .container {
        width: 300px;
    }

    .logo   {
        margin: 0;
        display: none;
    }

    .menu-bars{
        padding-left: 300px;
    }
    

}

@media screen and (max-width: 445px) {
    .navbar-home{
        width: 100%;
    }

    .navigation-top{
        margin: 0;
    }

   
    .menu-bars{
        padding: 0;
    }


}


@media screen and (max-width: 420px) {

   
    .article-table-of-content-border{
        width: 290px;
    }

}

@media screen and (max-width: 400px) {

    .image-cover{
        height: 800px;
    }
    .how-we-are-different-pros {
        width: 200px;
    }

    .signup-form{
        width: 300px;
    }


}



/*media queries end*/